<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="menu">
        <ul>
            <li class="leftMost">
                <a href="~/DrugEntriesList/" class="button">Home</a>
            </li>
            @{       
                if(ViewData["Username"] == "Guest")
                {
                    <li class="rightMost">
                        <a href="~/Login" class="button">Debug Login</a>
                    </li>
                    <li class="right" id="loginMenuButton">
                        <div class="button">Login</div>
                    </li>
                }
                else
                {
                    if (@Html.Encode(ViewData["Type"]) == "pharmadmin")
                    {
                        <li class="left">
                            <a href="~/PendingShortagesList/" class="button">Admin</a>
                        </li>
                    }
                    <li class="rightMost">
                        <div id="logoutButton" class="button" onclick="logout()">Logout</div>
                    </li>
                }
            }
            <li class="right">
                <div class="menuText">
                    Welcome, @Html.Encode(ViewData["Username"])
                </div>
            </li>
        </ul>
    </div>
    <ul id="pageTitleBar">
        <li class="logo"><img src="~/images/logo.png"/></li>
        <li class="pageTitle">@Html.Encode(ViewData["PageTitle"])</li>
        <li class="search">
            @{
                if (ViewData["PageTitle"] == "Current Shortages" || ViewData["PageTitle"] == "All Shortages" || ViewData["PageTitle"] == "Pending Shortages")
                {
                    <input id="searchbar" type="search" placeholder="search"/>
                }
            }
        </li>
    </ul>
    <hr />
    <br />

    <ul id="adminMenu">
        <li>
            <a href="~/PendingShortagesList" id="pendingShortagesMenu" class="secondaryTitle">Manage Feeds</a>
        </li>
        <li>
            <a href="~/DrugEntriesList/Upload" id="uploadMenu" class="secondaryTitle">Upload Formulary</a>
        </li>
        <li>
            <a href="~/DrugEntriesList/Create" id="createMenu" class="secondaryTitle">Create Drug</a>
        </li>
    </ul>
    <br />
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>

<script>

    function logout() {
        var url = '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "logoutapi", })';
        $.post(url,
            null,
            function (value) {
                window.location.replace("/DrugEntriesList");
            },
            "json"
        );
    }

    var str = @Html.Raw(Json.Encode(ViewData["PageTitle"])) + '';
    if (str == "Manage Feeds") {
        $("#pendingShortagesMenu").addClass("selected");
    }
    else if (str == "Upload Formulary") {
        $("#uploadMenu").addClass("selected");
    }
    else if (str == "Create Drug") {
        $("#createMenu").addClass("selected");
    }

    $("#adminMenu a").click(function () {
        $(this).parent().parent().find("a").removeClass("selected");
        $(this).addClass("selected");
    });
</script>