
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="menu">
        <ul>
            <li class="leftMost" id="loginRedir">
                <a href="~/Login" class="button">Login</a>
            </li>
            <li class="left" id="pendingRedir">
                <a href="~/PendingShortagesList" class="button">Pending</a>
            </li>
            <li class="left">
                <a href="~/ShortagesList" class="button">All</a>
            </li>
            <li class="left">
                <a href="~/ShortagesList/Create" class="button">Create</a>
            </li>
            <li class="rightMost">
                <div id="userDisplay" class="button">Logout</div>
            </li>
            <li class="right">
                <div class="menuText">Holler, @Html.Encode(ViewData["Username"])</div>
            </li>
        </ul>
    </div>
    <div class="pageHeader">
        <div class="pageTitle">@Html.Encode(ViewData["PageTitle"])</div>
    </div>
    <br />
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>