@using MedicationsShortagesDashboard.Models;
@{
    ViewBag.Title = "Edit Shortage";
    @model Tuple<Shortage, DrugEntry>
}

<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

<div id="body">
    <div id="secondaryTitle">
        @Html.DisplayFor(tuple => tuple.Item2.Brand)
    </div>
    <div id="basicDrugInformation">
        <ul>
            <li>NDC: @Html.DisplayFor(tuple => tuple.Item2.NDC)</li>
            <li>Dosage: @Html.DisplayFor(tuple => tuple.Item2.Dosage)</li>
            <li>Generic Name: @Html.DisplayFor(tuple => tuple.Item2.Generic)</li>
        </ul>
    </div>
    <form id="create_shortage_form">
        <input type="hidden" name="id" id="id" value="@Html.DisplayFor(tuple => tuple.Item1.Id))">
        <input type="hidden" name="ndc" id="ndc" value="@Html.DisplayFor(tuple => tuple.Item1.Ndc))">
        Status:
        <p><span class="create_shortage_good_label"><input id="good" name="status" value="good" type="radio" onclick="javascript: statusCheck();" /> Good </span></p>
        <p><span class="create_shortage_warning_label"><input id="warning" name="status" value="warning" type="radio" onclick="javascript: statusCheck();" /> Warning </span></p>
        <p><span class="create_shortage_severe_label"><input id="severe" name="status" type="radio" value="severe" onclick="javascript: statusCheck();" /> Severe </span></p>
        <div id="additionalInfo">
            <p><span class='formErrorNotification' id="sevenDaySupplyError">*</span>Seven day supply (250 character limit):</p>
            <p><textarea class="createShortageTextArea" id="sevenDaySupply" name="sevenDaySupply" rows="5" cols="50" ></textarea></p>
            <p><span class='formErrorNotification' id="sevenDayUsageError">*</span>Seven day usage (250 character limit):</p>
            <p><textarea class="createShortageTextArea" id="sevenDayUsage" name="sevenDayUsage" rows="5" cols="50" ></textarea></p>
            <p><span class='formErrorNotification' id="mitigationActionsError">*</span>Migitation Actions (5000 character limit):</p>
            <p><textarea class="createShortageTextArea" id="mitigationActions" name="mitigationActions" rows="5" cols="50" ></textarea></p>
            <p><span class='formErrorNotification' id="backorderInformationError">*</span>Backorder Information (5000 character limit):</p>
            <p><textarea class="createShortageTextArea" id="backorderInformation" name="backorderInformation" rows="5" cols="50" ></textarea></p>
            <p><span class='formErrorNotification' id="greyMarketVendorError">*</span>Grey Market Vendor: <input id="greyMarketVendor" type="text" name="greyMarketVendor" /></p>
            <p><span class='formErrorNotification' id="expectedResolutionDateError">*</span>Expected Resolution Date: <input readonly="readonly" id="expectedResolutionDate" type="text" name="expectedResolutionDate" /></p>
        </div>
        <p><button class="submitButton" id="submit" type="button">Update Shortage</button></p>
    </form>
    <div id="invalidFormNotification" class="formErrorNotification">Please fill in all fields marked with *</div>
</div>

@section scripts{
<script type="text/javascript">
    $("#expectedResolutionDate").datepicker({ minDate: 0, dateFormat: "m/d/yy" });

    // Pre populate form based on current information
    $('#expectedResolutionDate').val('@Html.DisplayFor(tuple => tuple.Item1.ExpectedResolutionDate)')
    $('#expectedResolutionDate').val($('#expectedResolutionDate').html('@Html.DisplayFor(tuple => tuple.Item1.ExpectedResolutionDate)').text().split(" ")[0]);

    $('#sevenDaySupply').html('@Html.DisplayFor(tuple => tuple.Item1.SevenDaySupply)').text()
    $('#sevenDayUsage').html('@Html.DisplayFor(tuple => tuple.Item1.SevenDayUsage)').text();
    $('#mitigationActions').html('@Html.DisplayFor(tuple => tuple.Item1.MitigationActions)').text();
    $('#backorderInformation').html('@Html.DisplayFor(tuple => tuple.Item1.BackorderInformation)').text();

    $('#greyMarketVendor').html('@Html.DisplayFor(tuple => tuple.Item1.GreyMarketVendor)').text()
    $('#greyMarketVendor').val($('#greyMarketVendor').html('@Html.DisplayFor(tuple => tuple.Item1.GreyMarketVendor)').text());

    var status = '@Html.DisplayFor(tuple => tuple.Item1.Status)';
    if (status == 'good')
    {
        $('#good').prop('checked', true);
    }
    if (status == 'warning') {
        $('#warning').prop('checked', true);
        $('#additionalInfo').show()
    }
    if (status == 'severe') {
        $('#severe').prop('checked', true);
        $('#additionalInfo').show()
    }

    $('#submit').click(function (e) {
        $('#invalidFormNotification').hide();
        if (validateForm()) {
            var submitData = $('#create_shortage_form').serialize();
            if (submitData.indexOf("&status=good") != -1) {
                submitData = submitData.split('&sevenDaySupply=')[0];
            }
            $.post('/api/Shortage', submitData)
                .success(function () {
                    window.location.replace("/DrugEntriesList/Details/" + '@Html.DisplayFor(tuple => tuple.Item1.Ndc)');
                });
            e.preventDefault();
        } else {
            $('#invalidFormNotification').show();
        }
    });

    function statusCheck() {
        if (document.getElementById('warning').checked || document.getElementById('severe').checked) {
            document.getElementById('additionalInfo').style.display = 'block';
        } else {
            document.getElementById('additionalInfo').style.display = 'none';
        }
    }

    // Determines if a string is empty or only contains whitespace
    function isBlank(str) {
        return (!str || /^\s*$/.test(str));
    }

    function validateForm() {
        // Ensure user selected a status
        if (!document.getElementById('good').checked && !document.getElementById('warning').checked && !document.getElementById('severe').checked) {
            $('#statusError').show()
            return false;
        } else {
            $('#statusError').hide()
        }

        var validForm = true;
        // If the user selected warning or severe, make sure they filled in all that information
        if (!document.getElementById('good').checked) {
            var selectors = ['sevenDaySupply', 'sevenDayUsage', 'mitigationActions', 'backorderInformation', 'greyMarketVendor', 'expectedResolutionDate']

            selectors.forEach(function (selector) {
                if (isBlank($('#' + selector).val())) {
                    $('#' + selector + 'Error').show();
                    validForm = false;
                } else {
                    $('#' + selector + 'Error').hide();
                }
            });
        }

        return validForm;
    }
</script>
}